@import "tailwindcss";



body {
  background-color: #ffffff;
  
  font-family: Arial, Helvetica, sans-serif;
}
.main-btn {
  background-color: #10b981; /* green */
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  align-items: center;
  gap: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  text-decoration: none;
  transition: background 0.2s;
}

.main-btn:hover {
  background-color: #059669;
  color: #fff;
  text-decoration: none;
}

.main-btn:active {
  transform: scale(0.95);
}